name: CI

on:
  push:
    branches:
    - main
  pull_request:

env:
  DEBUG: "@faltest*,faltest-helpers"
  DETECT_CHROMEDRIVER_VERSION: true
  DETECT_EDGEDRIVER_VERSION: true

jobs:
  lint-git:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}
    # grab default branch to calculate branch point to know when to stop linting
    - if: ${{ github.base_ref }}
      run: |
        ref="${{ github.base_ref }}"
        if git check-ref-format --branch "$ref"; then
          git branch "$ref" "origin/$ref"
        else
          echo "Invalid base_ref: '$ref'"
          exit 1
        fi
    - uses: actions/setup-node@v4

    - run: yarn install --frozen-lockfile --ignore-scripts
    - run: yarn lint:git

  lint:
    needs: lint-git

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v4

    - run: yarn install --frozen-lockfile --ignore-scripts
    - run: yarn lint:md
    - run: yarn lint:js

  test:
    needs: lint

    strategy:
      matrix:
        os:
        - ubuntu-latest
        node:
        - 18

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node }}

    # - run: curl -O https://packages.microsoft.com/repos/edge/pool/main/m/microsoft-edge-stable/microsoft-edge-stable_102.0.1245.39-1_amd64.deb
    # - run: sudo apt install ./microsoft-edge-stable_102.0.1245.39-1_amd64.deb
    # - uses: browser-actions/setup-edge@latest

    - run: yarn install --frozen-lockfile
    - run: yarn test
      env:
        WEBDRIVER_HEADLESS: true

  acceptance:
    needs: lint

    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        node:
        - 18

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node }}

    - run: yarn install --frozen-lockfile
    - if: runner.os == 'Linux'
      # https://github.com/juliangruber/browser-run/issues/147#issue-495226343
      run: Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - run: yarn test:acceptance
      env:
        DISPLAY: :99.0

    - if: failure()
      uses: actions/upload-artifact@v4
      with:
        path: examples/full-suite/dist

  global-install-test:
    needs: lint

    strategy:
      matrix:
        os:
        - ubuntu-latest
        node:
        - 18

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node }}

    # https://github.com/actions/setup-node/issues/85#issuecomment-715565131
    - run: echo "$(yarn global bin)" >> $GITHUB_PATH

    - name: simulate global install
      run: |
        yarn install --production
        yarn link
      working-directory: fixtures/global-install

    - run: my-cli --headless
